// font-family: 'Fira Sans', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Secular One', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400&family=Open+Sans:wght@300;400&family=Secular+One&display=swap");

@for $index from 1 through 6 {
  h#{$index} {
    margin: 16px 0px;
    font-family: "Secular One", sans-serif;
    font-weight: 400;
    margin: 16px 0 0 0 !important;
  }
}

ol,
ul {
  margin-top: 4px;
  margin-bottom: 4px;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.is-active {
  color: #5d784b;
}

#main-content {
  display: none;
}

.page-content {
  img {
    display: block;
    max-width: 480px;
    max-height: 320px;
    margin: auto;
  }
}
